Ac    0.1     # Area used to calculate the coefficients
Uc      0.1     # Characteristic Velocity to calculate the coefficients
Rho     1.2     # Density

# next comes the data containing the raw measurements
# can be either a single file, a glob (e.g. converted_Ebene_Platte_Messung*)
# or a directory containg an arbitrary number of files
Data    converted_Ebene_Platte_Messung1.txt
